<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>E-Müze Galeri</title>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/assets/css/templatemo-sixteen.css" rel="stylesheet" />
    <link href="~/Content/assets/css/owl.css" rel="stylesheet" />
    <link href="~/Content/assets/css/sweetalert2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/svg" href="~/Content/assets/images/favicon.png" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />

</head>

<body>

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><h2>E-Müze <em>Galeri</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                Ana Sayfa
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Koleksiyonlar</a>
                            <div class="dropdown">

                                <div class="dropdown-menu" aria-labelledby="dropdown">
                                    <a class="dropdown-item" href="/Home/Collection/">Tümü</a>
                                    <a class="dropdown-item" href="/Home/Collection/1">Antika Eşyalar</a>
                                    <a class="dropdown-item" href="/Home/Collection/2">Tablolar</a>
                                    <a class="dropdown-item" href="/Home/Collection/3">Posta Pulları</a>
                                    <a class="dropdown-item" href="/Home/Collection/4">Paralar</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About","Home")">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contactButton" href="javascript:void(0);">Bize Ulaşın</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Admin")">Giriş Yap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>
                            Copyright &copy; 2021 <a href="mailto:tarikayydin1846@gmail.com">Tarık Aydın</a>, Her hakkı saklıdır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/accordions.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/isotope.js"></script>
    <script src="~/Content/assets/js/owl.js"></script>
    <script src="~/Content/assets/js/slick.js"></script>
    <script src="~/Content/assets/js/test.js"></script>
    <script src="~/Content/assets/js/sweetalert2.all.min.js"></script>
    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0;
        function clearField(t) {
            if (!cleared[t.id]) {
                cleared[t.id] = 1;
                t.value = '';
                t.style.color = '#fff';
            }
        }
    </script>


</body>

</html>
